<% 
    my.each do |nb| 
        nb['bookmarks'].each do |bm|
%>

<h3>Modifica la nota in <%= nb['title'] %>, <%= bm['date'] %>
</h3>
<div class='editbm_form'>
    <ul class="form">

        <input type='hidden' class='bm_qstring' value='<%= bm['qstring'] %>'>
        <input type='hidden' class='bm_uri' value='<%= bm['uri'] %>'>
        <input type='hidden' class='bm_oldnb_uri' value='<%= nb['uri'] %>'>
        <li class='bm_nb_select'>
            Nel notebook <%= select_tag 'notebook', options_for_select(my_notebooks_select, nb['uri']), {:class => 'bm_nb_select'} %>
        </li>

        <li><button class='bm_newnb_button'>Crea un nuovo notebook</button></li>
        <li class='bm_new_nb_form'>
            <ul>
                <li><input type='text' class='bm_newnb_title' placeholder='Nome del nuovo notebook ..'></li>
                <li><textarea cols='40' rows='3' class='bm_newnb_note' placeholder="Nota del nuovo notebook .. "></textarea></li>
            </ul>
        </li>

		<li><textarea cols='50' rows='5' class='bm_note'><%= bm['note'] %></textarea></li>
		
    </ul>    
        
    <ul class="buttons">
    	<li><button class='bm_save_button'>SALVA</button></li>
	    <li><a href="javascript:;" onclick="$('#bookmarkDialog').dialog('close');">CHIUDI</a></li>
    </ul>

</div>

<% 
        end
    end 
%>