<h3>Crea una nuova nota:</h3>
<div class='newbm_form'>
        <input type='hidden' class='bm_qstring' value='<%= bm[:qstring] %>'>
        <input type='hidden' class='bm_title' value='<%= bm[:title] %>'>
        <input type='hidden' class='bm_resource_type' value='<%= bm[:resourceTypeString] %>'>
        
        <ul class="form">
    	    <li class="type"><span>Tipo:</span> <%= bm[:resourceTypeString] %></li>
        	<li class="date"><span>Data:</span> <%= Time.now.strftime("%x %X") %></li>
			<li>
            	Nel notebook <%= select_tag 'notebook', options_for_select(my_notebooks_select), {:class => 'bm_nb_select'} %>
			</li>
		
			<li><button class='bm_newnb_button'>Crea un nuovo notebook</button></li>

        	<li><textarea cols='50' rows='5' class='bm_note' placeholder='La tua nota su questo box di contenuto .. '></textarea></li>
        </ul>
        
        <ul class="buttons">
        	<li><button class='bm_save_button'>Salva</button></li>
        </ul>
    </ul>
</div>