<div class='widget'>
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Informazioni</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
            
    	</div>
    </div>
    <div class='widgetContent'>
		<div class="note_author">Autore: <%= notebook_widget.owner.name %></div>
        <div class="note_text">Nota: <%= notebook_widget.notes %></div>

    	
		<div class="notebook_info">
        	<span>Subscribers:</span> <%= notebook_widget.followers.count %>, <span>Bookmarks:</span> <%= notebook_widget.elements.count %><% if @talia_user.name == notebook_widget.owner.name %>, <span>Public:</span> <%= if notebook_widget.public then "Si" else "No" end %>
            <% end %> 
        </div>
        
    </div>
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Bookmarks in questo notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
            
    	</div>
    </div>
    <div class='widgetContent'>

        <% if notebook_widget.elements.empty? %>
            <p>Non ci sono bookmark in questo notebook.</p>
        <% end %>

        <% 
            notebook_widget.elements.each do |b| 
                b = b.becomes(TaliaBookmark)
        %>

		<div class="single_notebook">
		    <span class='field_title collapsed notebook_title'>
		    	<%= "#{b.resource_type} #{b.title}" %>
		    </span>
		        
		    <div class='field_content collapsed'>
                       <% time = Time.parse(b.updated_at.to_s) %>
		    	<div class="note_date"><span>Data:</span> <%= "#{time.strftime("%x %X")}"%></div>
		        <div class="note_text"><%= b.notes %></div>

				
				<div class="note_links">
				<% if @talia_user.name == notebook_widget.owner.name %>
					<a class='myDoni' href="boxView.php?method=myDoniGetBookmarkDialogFromUri&uri=<%= b.uri %>">Modifica nota</a> | 
					<a class='myDoni' href="boxView.php?method=myDoniDeleteBookmark&nb_uri=<%= notebook_widget.uri %>&uri=<%= b.uri %>&qstring=<%= Base64.encode64s(b.qstring) %>">Elimina nota</a> | 
				<% end %>
				
				<a class='resource' href="<%= b.qstring %>">Apri</a></div>
			
			</div>
        </div>
        <% end %>        
    </div>
</div>