<div>
    <% notebook_and_bookmarks.each do |nb| %>
    <div class='widgetField'>
        <span class='field_title collapsed'>Da <%= nb['title'] %>, note di <%= nb['author']%></span>
        <div class='field_content collapsed'>
            <ul>
                <li><%= nb['note'] %></li>
                <li><a class='myDoni' href="boxViewer.php?method=myDoniGetNotebook&lang=it&resource=<%= Base64.encode64s(nb['uri']) %>">Apri il notebook</a></li>
                <li>
                <% nb['bookmarks'].each do |b| %>
                    <ul>
                        <li>Data: <%= b['date'] %></li>
                        <li>Nota: <%= b['note'] %></li>
                    </ul>
                <% end %>
                </li>
            </ul>
        </div>
    </div>
    <%  end %>    

</div>