<div>
    <% notebook_index.each do |nb| %>
    <% b64uri = Base64.encode64s(nb['uri']) %>
    <div class='widgetField'>
        <span class='field_title collapsed'>Title: <%= nb.title %></span>
        <div class='field_content collapsed'>
            <ul>

                <% if @talia_user.name != nb.owner.name %>
                    <li>Author: <%= nb.owner.name %></li>
                <% end %>

                <li>Notebook note: <%= nb.notes %></li>
                <li>Subscribers #: <%= nb.followers.count %></li>
                <li>Bookmarks #: <%= nb.elements.count %></li>

                <% if @talia_user.name == nb.owner.name %>
                    <li>Public: <%= if nb.public then "Si" else "No" end %> </li>
                <% end %>    
                
                <% if @talia_user.name == nb.owner.name %>
                    <li><a class='myDoni edit_notebook' href="boxViewer.php?method=myDoniEditNotebook&lang=it&uri=<%= b64uri %>">Modifica</a></li>
                    <li><a class='myDoni delete_notebook' href="boxViewer.php?method=myDoniDeleteNotebook&lang=it&uri=<%= b64uri %>">Cancella</a></li>
                <% else %>
                    <li><a class='myDoni' href="boxViewer.php?method=myDoniUnfollowNotebook&lang=it&uri=<%= b64uri %>">Togli dai tuoi preferiti</a></li>
                <% end %>

                <li><a class='myDoni' href="boxViewer.php?method=myDoniGetNotebook&lang=it&resource=<%= b64uri %>">Apri questo notebook</a></li>
            </ul>
        </div>
    </div>
    <%  end %>    

</div>