<div>
    <% notebook_index.each do |nb| %>
    <div class='widgetField'>
        <span class='field_title collapsed'>Title: <%= nb.title %></span>
        <div class='field_content collapsed'>
            <ul>

                <li>uri:<%= nb.uri %></li>
                <li>Author: <%= nb.owner.name %></li>
                <li>Note: <%= nb.notes %></li>
                <li>Subscribers #: <%= nb.followers.count %></li>
                <li>Bookmarks #: <%= nb.elements.count %></li>
                <li>Public: <%= if nb.public then "Si" else "No" end %> </li>

                <% if @talia_user.name == nb.owner.name %>
                    <li><a class='myDoni' href='#'>Modifica</a></li>
                    <li><a class='myDoni' href="#">Cancella</a></li>
                <% else %>
                    <li><a class='myDoni' href="#">Togli dai tuoi preferiti</a></li>
                <% end %>

                <li><a class='myDoni' href="boxViewer.php?method=myDoniGetNotebook&lang=it&resource=<%= Base64.encode64s(nb['uri']) %>">Apri questo notebook</a></li>
            </ul>
        </div>
    </div>
    <%  end %>    

</div>