<div class='widget'>
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Bookmarks in questo notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
            
    	</div>
    </div>
    <div class='widgetContent'>

        <% if notebook_widget.elements.empty? %>
            <p>Non ci sono bookmark in questo notebook.</p>
        <% end %>

        <% 
            notebook_widget.elements.each do |b| 
                b = b.becomes(TaliaBookmark)
        %>

            <span class='field_title collapsed'>Title: <%= "#{b.resource_type} #{b.title}" %></span>
            <div class='field_content collapsed'>
                <ul>
                    <li>Data: <%= b.date %></li>
                    <li>Note: <%= b.notes %></li>
                    <% if @talia_user.name != notebook_widget.owner.name %>
                        <li>Author: <%= notebook_widget.owner.name %></li>
                    <% else %>
                        <li><a class='myDoni' href="boxView.php?method=myDoniGetBookmarkDialogFromUri&uri=<%= b.uri %>">Modifica nota</a></li>
                        <li><a class='myDoni' href="boxView.php?method=myDoniDeleteBookmark&nb_uri=<%= notebook_widget.uri %>&uri=<%= b.uri %>&qstring=<%= Base64.encode64s(b.qstring) %>">Elimina nota</a></li>
                    <% end%>
                    <li><a class='resource' href="<%= b.qstring %>">Apri</a></li>
                </ul>
            </div>
            
        <% end %>        
    </div>
</div>