<div>
  Your Notes:
  <ul>
    <% @bookmarks.each do |b| %>
      <% time = Time.parse(b.updated_at.to_s) %>
      <li>qstring= <%= b.qstring %>  title <%= b.title %> <%= "#{time.day}/#{time.month}/#{time.year}"%>
        <div class="bookmark_notes">Note: <%= b.notes %></div>
        <div class="bookmarl_public">pubblico? <% if b.public %>Si<% else %>No<% end %></div>
        <div class="bookmark_uri"><%= b.uri %></div>
      </li>
      <% end %>
  </ul>
</div>