<div class='widget'>

<%= render :partial => 'widget_header', :locals => {:title => 'Immagine'} %>
<%= render :partial => 'image_viewer_widget', :locals => {:image => @image, :id => @id} %>

</div>

<div class='widget'>
   <%= render :partial => 'widget_header', :locals => {:title => 'Scheda'} %>

    <div class='widgetContent expanded text'>
    	<p>Codice: <%= @source.code %><br/>
    	Collocazione: <%= @source.collocation %><br/>
    	Autore: <%= @source.author %><br/>
        Tecnica e misure: <%= @source.tecnique %>, <%= @source.measure %><br/>
    	Note Descrittive: <%= @source.descriptive_notes %><br/>
    </div>
</div>


<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Studio'} %>

    <div class='widgetContent expanded text'> 
   	<p>Descrizione: <%= @source.description %><br/>
    	Qualita': <%= @source.qualities_age %>, <%= @source.qualities_gender %>, <%= @source.qualities_profession %>, <%= @source.qualities_ethnic_group %><br/>
	
	<% unless (notes = @source.notes).empty? %>
	Trascizione delle note:<br/>
	 <% notes.each do |n| %>
	 	    <span onmouseover="getFlashObject('<%= @id %>').setPolygonHighlighted(true, '<%= n.image_zone.id.to_s %>');"
        onmouseout="getFlashObject('<%= @id %>').setPolygonHighlighted(false, '<%= n.image_zone.id.to_s %>');" id="image_zone_#{n.image_zone.id}" class="single-zone">
	 <%= n.content %>
        
            </span>
	 <br/>
	 <% end %>
	<% end %>

	<% unless @source.baldini_text.nil? and @source.cini_text.nil? %>
   	   Testi Correlati : 
	   <% unless (baldini=@source.baldini_text).nil?%> <%=baldini.title%> <%end %>
           <% unless (cini=@source.cini_text).nil?%>
              <% unless baldini.nil?%>, <%end%> 
              <%= cini.title%>
	   <%end%>
	<% end %>
	<br/>

<!--	Fonti: <%# @source.bibliography_item.each do |b| %>
	       <%#= b.title %>, 
	<%# end %> -->

<% unless (components = @source.image_components).empty? %>
	Componenti: 
	<% components.each do |c| %> 

	 	    <span onmouseover="getFlashObject('<%= @id %>').setPolygonHighlighted(true, '<%= c.image_zone.id.to_s %>');"
        onmouseout="getFlashObject('<%= @id %>').setPolygonHighlighted(false, '<%= c.image_zone.id.to_s %>');" id="image_zone_#{c.image_zone.id}" class="single-zone">
	   <%= c.name %> 

	   </span>
	<% end %>
	<br/>
<% end %>

<% unless (iconclass = @source.iconclass_terms).empty? %>
        Iconclass: <% iconclass.each do |c| %> <%= c.name %> <% end %>
	<br/>
<% end %>
   Note di studio: <%= @source.study_notes %>
    </div>
</div>




<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Elementi Correlati'} %>
    <div class='widgetContent expanded text'>
    	<p>Carro: <%= @source.procession.cart %><br/>
	Personaggi correlati: <% @source.procession.characters.each do |c| %> 
	<% unless c.uri == @source.uri %>
          <a class='resource' href='/boxView?method=getSource&resource=<%=Base64.encode64s(c.uri.to_s)%>&type=<%=c.class%>'><%=c.name%></a>
	  <% end %>
	<% end %>
</p>
    </div>
</div>




