<div class='widget'>

<%= render :partial => 'widget_header', :locals => {:title => 'Immagine'} %>
<%= render :partial => 'image_viewer_widget', :locals => {:image => @image, :id => @id} %>

</div>

<div class='widget'>
   <%= render :partial => 'widget_header', :locals => {:title => 'Scheda'} %>

    <div class='widgetContent expanded text'>
    	<p><b>Codice:</b> <%= @source.code %><br/>
    	<b>Collocazione:</b> <%= @source.collocation %><br/>
    	<b>Autore:</b> <%= @source.author %><br/>
        <b>Tecnica e misure:</b> <%= @source.tecnique %>, <%= @source.measure %><br/>
    	<b>Note Descrittive:</b> <%= @source.descriptive_notes %><br/>
    </div>
</div>


<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Studio'} %>

    <div class='widgetContent expanded text'> 
   	<p><b>Descrizione:</b> <%= @source.description %><br/>
	
	<% unless (notes = @source.notes).empty? %>
	<b>Trascrizione delle note:</b><br/>

	 <% notes.each do |n| %>

	     <span class="resource"onmouseover="getFlashObject('<%= @id %>').setPolygonHighlighted(true, '<%= n.image_zone.id.to_s %>');"
        onmouseout="getFlashObject('<%= @id %>').setPolygonHighlighted(false, '<%= n.image_zone.id.to_s %>');" id="image_zone_#{n.image_zone.id}" class="single-zone">
	 <%= n.content %>
        
            </span>

	 <br/> 
	 <% end %>

	<% end %>

	<% unless @source.baldini_text.nil? and @source.cini_text.nil? %>
   	   <b>Testi Correlati:</b> 
	   <% unless (baldini=@source.baldini_text).nil?%> <%=baldini.title%> <%end %>
           <% unless (cini=@source.cini_text).nil?%>
              <% unless baldini.nil?%>, <%end%> 
              <%= cini.title%>
	   <%end%>
	<% end %>
	<br/>

	
	<b>Fonti:</b> <% @source.bibliography_items.each do |b| %>
	       <%= b.name %>  
	<% end %> 

    	<b>Qualit&agrave;:</b> <%= @source.qualities_age %>, <%= @source.qualities_gender %>, <%= @source.qualities_profession %>, <%= @source.qualities_ethnic_group %><br/>

<% unless (components = @source.image_components).empty? %>
	<b>Componenti:</b> 
	<% components.each do |c| %> 

	 	    <span onmouseover="getFlashObject('<%= @id %>').setPolygonHighlighted(true, '<%= c.image_zone.id.to_s %>');"
        onmouseout="getFlashObject('<%= @id %>').setPolygonHighlighted(false, '<%= c.image_zone.id.to_s %>');" id="image_zone_#{c.image_zone.id}" class="single-zone">
	   <%= c.name %> 

	   </span>
	<% end %>
	<br/>
<% end %>

<% unless (iconclass = @source.iconclass_terms).empty? %>
        <b>Iconclass:</b> <% iconclass.each do |c| %> <%= c.name %> <% end %>
	<br/>
<% end %>
   <b>Note di studio:</b> <%= @source.study_notes %>
    </div>
</div>




<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Elementi Correlati'} %>
    <div class='widgetContent expanded text'>
    	<p><b>Carro:</b> <%= @source.procession.cart %><br/>
	<b>Personaggi correlati:</b> <% @source.procession.characters.each do |c| %> 
	<% unless c.uri == @source.uri %>
          <a class='resource' href='/boxView?method=getSource&resource=<%=Base64.encode64s(c.uri.to_s)%>&type=<%=c.class%>'><%=c.name%></a>
	  <% end %>
	<% end %>
</p>
    </div>
</div>




