<div class='widget'>

<div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'>Immagine</h3>
    <div class='widgetHeaderTools'>
    <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    </div>

    <div class="imt-viewer">
        <object class="IMTViewer" b64="<%=thumb_xml(@image)%>" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="<%=@id%>" width="400" height="400" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
            <param name="movie" value="<%=image_path('ImageMapperViewer.swf?js_prefix=jsapi_')%>" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="allowScriptAccess" value="always" />
            <embed src="<%=image_path('ImageMapperViewer.swf?js_prefix=jsapi_')%>&oid=<%=@id%>" quality="high" bgcolor="#ffffff" width="400" height="400" name="<%=@id%>" align="middle" play="true" loop="false" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" b64="<%=thumb_xml(@image)%>"></embed>
        </object>
    </div>


  </div>








</div>