<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Immagine'} %>
  <%= render :partial => 'image_viewer_widget', :locals => {:image => @image, :id => @id} %>
</div>

<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Scheda'} %>
  <div class='widgetContent expanded metadata'>
    <p> 
      <b>Codice:</b> <%= @source.code %> <br/>
      <b>Collocazione:</b> <%= @source.collocation %><br/>
      <b>Tecnica e misure:</b> <%= @source.tecnique %>, <%= @source.measure %><br/>
      <b>Posizione:</b> <%= @source.position %><br/>
      <b>Note Descrittive:</b> <%= @source.descriptive_notes %><br/>
    </p>
   
  </div>  
</div>

<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Studio'} %>
  <div class='widgetContent expanded metadata'>
    <p> 
      <b>Descrizione:</b> <%= @source.description %> <br/>
 <% unless @source.textual_source.nil? %>
       <b>Fonte Testuale:</b> <%= @source.textual_source.name %>
<% end %>
   <b>Immagini di memoria:</b>
   
<% unless (child_cards =  @source.child_cards).empty? %>
   <% child_cards.each do |dc| %>
       <%= dc.name %>, 
   <% end %>
<% end %>

<% unless @non_illustrated_md.nil? %>
   <% @non_illustrated_md.each do |nimd| %>
     <%= nimd.name %>,  
   <% end %>
<% end %>
<br/>


<% unless (components = @source.image_components).empty? %>
	<b>Componenti:</b> 
	<% components.each do |c| %> 

	 	    <span onmouseover="getFlashObject('<%= @id %>').setPolygonHighlighted(true, '<%= c.image_zone.id.to_s %>');"
        onmouseout="getFlashObject('<%= @id %>').setPolygonHighlighted(false, '<%= c.image_zone.id.to_s %>');" id="image_zone_#{c.image_zone.id}" class="single-zone">
	   <%= c.name %> 

	   </span>
	<% end %>
	<br/>
<% end %>



<% unless (iconclass = @source.iconclass_terms).empty? %>
        <b>Iconclass:</b> <% iconclass.each do |c| %> <%= c.name %> <% end %>

	<% unless child_cards.empty? %>
	   <% child_cards.each do |c| %>
	     <% c.iconclass.each do |ic| %> <%= ic.name %> <% end %>
	   <% end %>
  	<% end %>

	<br/>

<% end %>

   <b>Note di studio:</b> <%= @source.study_notes %> <br/>

 </p>
   



  </div>  
</div>