<div class='widget'>

<%= render :partial => 'widget_header', :locals => {:title => 'Immagine'} %>
<%= render :partial => 'image_viewer_widget' %>

</div>

<div class='widget'>
   <%= render :partial => 'widget_header', :locals => {:title => 'Scheda'} %>

    <div class='widgetContent expanded text'>
    	<p>Codice: <%= @fi_character.code %><br/>
    	Collocazione: <%= @fi_character.collocation %><br/>
    	Autore: <%= @fi_character.author %><br/>
        Tecnica e misure: <%= @fi_character.tecnique %>, <%= @fi_character.measure %><br/>
    	Note Descrittive: <%= @fi_character.descriptive_notes %><br/>
    </div>
</div>


<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Studio'} %>

    <div class='widgetContent expanded text'> 
   	<p>Descrizione: <%= @fi_character.description %><br/>
    	Qualita': <%= @fi_character.qualities_age %>, <%= @fi_character.qualities_gender %>, <%= @fi_character.qualities_profession %>, <%= @fi_character.qualities_ethnic_group %><br/>
	Trascizione delle note: <%= @fi_character.transcription %> <br/>
	<% unless @fi_character.baldini_text.nil? and @fi_character.cini_text.nil? %>
   	   Testi Correlati : 
	   <% unless (baldini=@fi_character.baldini_text).nil?%> <%=baldini.title%> <%end %>
           <% unless (cini=@fi_character.cini_text).nil?%>
              <% unless baldini.nil?%>, <%end%> 
              <%= cini.title%>
	   <%end%>
	<% end %>
	<br/>

<!--	Fonti: <%# @fi_character.bibliography_item.each do |b| %>
	       <%#= b.title %>, 
	<%# end %> -->

<% unless (components = @fi_character.image_components).empty? %>
	Componenti: <% components.each do |c| %> <%= c.name %> <% end %>
	<br/>
<% end %>

<% unless (iconclass = @fi_character.iconclass_terms).empty? %>
        Iconclass: <% iconclass.each do |c| %> <%= c.name %> <% end %>
	<br/>
<% end %>
   Note di studio: <%= @fi_character.study_notes %>
    </div>
</div>




<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Elementi Correlati'} %>
    <div class='widgetContent expanded text'>
    	<p>Carro: <%= @fi_character.procession.cart %><br/>
	Personaggi correlati: <% @fi_character.procession.characters.each do |c| %> <%= c.name unless c.uri == @fi_character.uri %> <% end %>
</p>
    </div>
</div>




