<h3>Classes</h3>
<%#= semantic_menu_for(@elements) %>


<ul>
<% if BgIllustrationCard.count > 0 %>
  <li class='menu_item'>
    <a class='menu collapsed' href='#'>Illustrazioni</a>
    <ul style='display: none;'>
    <% BgIllustrationCard.all.each do |i| %>
        <li class='menu_subitem'><a class='indexLink' href='/boxView?method=getSource&resource=<%=Base64.encode64s(i.uri.to_s)%>&type=<%=i.class%>'><%= i.name %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>

<% if PiIllustrationCard.count > 0 %>
  <li class='menu_item'>
    <a class='menu collapsed' href='#'>Illustrazioni</a>
    <ul style='display: none;'>
    <% PiIllustrationCard.all.each do |i| %>
        <li class='menu_subitem'><a class='indexLink' href='/boxView?method=getSource&resource=<%=Base64.encode64s(i.uri.to_s)%>&type=<%=i.class%>'><%= i.name %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>

<% if FiCharacterCard.count > 0 %>
  <li class='menu_item'>
    <a class='menu collapsed' href='#'>Personaggi</a>
    <ul style='display: none;'>
    <% FiCharacterCard.all.each do |i| %>
        <li class='menu_subitem'><a class='indexLink' href='/boxView?method=getSource&resource=<%=Base64.encode64s(i.uri.to_s)%>&type=<%=i.class%>'><%= i.name %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>

<% if VtLetter.count > 0 %>
  <li class='menu_item'>
    <a class='menu collapsed' href='#'>Lettere</a>
    <ul style='display: none;'>
    <% VtLetter.all.each do |i| %>
        <li class='menu_subitem'><a class='indexLink' href='/boxView?method=getSource&resource=<%=Base64.encode64s(i.uri.to_s)%>&type=<%=i.class%>'><%= i.name %></a></li>
    <% end %>
    </ul>
  </li>
<% end %>




</ul>