<%
    # Parameters to pass in: 
    # main_name: name of the model (eg: BibliographyItem)
    # param_name: name of the field (eg: author)
    # autocomplete_url: url where to ask for the autocomplete list
    # existing: hash of already existing items of this kind, to add right away

    populate_ul_id = param_name+"_list"
    populate_autocomplete_div_id = param_name+"_autocomplete_div"
    input_text_id = param_name+"_autocomplete_me"
    add_button_id = param_name+"_add"
    indicator_id = param_name+"_indicator"

%>

<ul id="<%= populate_ul_id %>"></ul>

<input type='text' name='<%= input_text_id %>' id='<%= input_text_id %>' />
<span style="display: none;" id='<%= indicator_id %>'>
      <img alt="Working..." src="/images/icons/ajax-loader.gif">
</span>
<input type='button' class='button' value="<%= I18n.t('general.add') %>" name='<%= add_button_id %>' id='<%= add_button_id %>' />
<div id='<%= populate_autocomplete_div_id %>' class="autocomplete"></div>

<script>

(function() {
    var param_name = "<%= param_name %>",
        add_button_id = "<%= add_button_id %>",
        indicator_id = "<%= indicator_id %>",
        populate_ul_id = "<%= populate_ul_id %>",
        main_name = "<%= main_name %>",
        current = [];
        
    current[param_name] = [];
    
    // Load all existing data as soon as the window is ready
    Event.observe(window, 'load', function() {
        <% existing.each do |name, value|
           field_name = "#{main_name}[#{param_name}][]"
        %>
            populate_with_item(populate_ul_id, '<%= name %>', [{name: '<%= field_name %>', value: '<%= value %>'}]);
        <% end %>
    });
    
    new Ajax.Autocompleter("<%= input_text_id %>", "<%= populate_autocomplete_div_id %>", "<%= autocomplete_url %>", {
      paramName: "value",
      indicator: indicator_id,
      afterUpdateElement : function(text, li_item) {
          // The user clicked on an item on the autocomplete list:
          // fill the text input with the value to show, and take note
          // of the real values to populate our list
          current[param_name]['content'] = li_item.innerHTML;
          current[param_name]['value'] = text.value;
      }
    });

    // Click on add button: populate our list with the previously
    // saved 
    $(add_button_id).observe('click', function() {
        var rand = Math.floor(Math.random()*99999),
            // n = main_name+"["+param_name+"]["+rand+"]",
            n = main_name+"["+param_name+"][]",
            v = current[param_name]['value'],
            display_string = current[param_name]['content'],
            hidden_hash = [{name: n, value: v}];

        populate_with_item(populate_ul_id, display_string, hidden_hash);
    });
    
})();

</script>