<%
    # Parameters to pass in: 
    # main_name: name of the model (eg: BibliographyItem)
    # param_name: name of the field (eg: author)
    # existing: hash of already existing items of this kind, to add right away
    # options: options array to show (if nil no type will be displayed)
    # custom_options: option array to show (containing custom bibl items)

    # Used by dryml tag image-components-edit
    
    populate_ul_id = param_name+"_list"
    add_button_id = param_name+"_add"
    add_existing_button_id = param_name+"_add_existing"
    custom_bibl_select_id = param_name+"custom_bibl_item" # was custom_bibliography_item
    bibl_select_id = param_name+"bibl_item" # was bibliography_item
    item_customization_id = param_name+"item_customization" # was bibliography_item_customization
    custom_name_id = param_name+"item_name" # was bibliography_item_name
    custom_pages_id = param_name+"item_pages" # was bibliography_item_pages
%>

<ul id="<%= populate_ul_id %>"></ul>

<% if !custom_options.nil? %>
    <div style='border: 1px dashed #666; margin-top: 20px; padding: 5px'>
        <%= I18n.t('bibliography_items.custom_bibl_items') %>: <br />
	<% cache('custom_biblio_with_options') do %>
        <%= select_tag "", options_for_select(custom_options), {:id => custom_bibl_select_id} %>
	<% end %>
        <br /><input type='button' class='button' value="<%= I18n.t('general.add') %>" name='<%= add_button_id %>' id='<%= add_existing_button_id %>' />
    </div>
<% end %>

<div style='border: 1px dashed #666;  margin-top: 20px; padding: 5px;'>
    <a href='#' class='show_bibliography_customization'><%= I18n.t('bibliography_items.customize') %></a> <br/>
    <div id='<%= item_customization_id %>'>
        <% if !options.nil? %>
            <%= I18n.t('bibliography_items.model_name') %>: <br />
	    <% cache('biblio_item') do %>
            <%= select_tag "", options_for_select(options), {:id => bibl_select_id} %>
	    <% end %>
            <br />
        <% end %>

        <%= I18n.t('bibliography_items.ref_name') %>: <input type='text' id='<%= custom_name_id %>'>
        <br />

        <%= I18n.t('bibliography_items.pages') %>: 
        <input type='text' id='<%= custom_pages_id %>'>
        <input type='button' class='button' value="<%= I18n.t('general.add_new') %>" name='<%= add_button_id %>' id='<%= add_button_id %>' />
    </div>
</div>

<script>

    document.observe('click', function(e) {
        // Toggle customization panel
        if (e.element().match('.show_bibliography_customization')) {
            $('<%= item_customization_id %>').toggle();
            e.stop();
        }
    });

    $('<%= item_customization_id %>').hide();

(function() {
    var param_name = "<%= param_name %>",
        add_button_id = "<%= add_button_id %>",
        add_existing_button_id = "<%= add_existing_button_id %>",
        populate_ul_id = "<%= populate_ul_id %>",
        main_name = "<%= main_name %>",
        custom_bibl = "<%= custom_bibl_select_id %>",
        bibl_select = "<%= bibl_select_id %>";
    
    
    // Load all existing data as soon as the window is ready
    Event.observe(window, 'load', function() {
        <% existing.each do |name, value| %>
            populate_with_item(populate_ul_id, "<%= escape_javascript name %>", [{name: "<%= "#{main_name}[#{param_name}][][uri]" %>", value: "<%= value %>"}]);
        <% end %>
    });

    // Click on add existing button: just add the string and and hidden field with
    // the given URI
    $(add_existing_button_id).observe('click', function() {
        <% if custom_options.nil? %>
            return;
        <% end %>
        var n, display_string="", v, hidden_hash = [];

        // Bibliography Item
        foo = $(custom_bibl).options[$(custom_bibl).selectedIndex];
        v = foo.value;
        n = main_name+"["+param_name+"][][uri]";
        display_string = foo.innerHTML;
        hidden_hash.push({name: n, value: v});
        populate_with_item(populate_ul_id, display_string, hidden_hash);

    });
    
    // Click on add button: populate our list with the selected item
    $(add_button_id).observe('click', function() {

        <% if options.nil? %>
            return;
        <% end %>
        
        var n, display_string="", v, hidden_hash = [];

        // Bibliography Item
        foo = $(bibl_select).options[$(bibl_select).selectedIndex];
        v = foo.value;
        n = main_name+"["+param_name+"][][bibliography_item]";
        display_string += " "+foo.innerHTML+" ";
        hidden_hash.push({name: n, value: v});

        // Bibliography Item name
        n = main_name+"["+param_name+"][][name]";
        v = $('<%= custom_name_id %>').value;
        if (v != "") 
            display_string += v+": ";
        hidden_hash.push({name: n, value: v});

        // Pages
        n = main_name+"["+param_name+"][][pages]";
        v = $('<%= custom_pages_id %>').value;
        if (v != "")
            display_string += v;
        hidden_hash.push({name: n, value: v});
        
        // Empty uri, must be last here to be the first element
        // in the list
        n = main_name+"["+param_name+"][][uri]";
        hidden_hash.push({name: n, value: ""});
        
        populate_with_item(populate_ul_id, display_string, hidden_hash);

        $('<%= item_customization_id %>').hide();
        $('<%= custom_name_id %>').value = '';
        $('<%= item_customization_id %>').value = '';
        
    });
    
})();

</script>
