<ul id="<%= param_name %>-list">
    <% existing.each do |option, value| %>
        <li>
            <%= option %>
            <input type="hidden" value="<%= value %>" name="<%= main_name %>[<%= param_name %>][<%= value.hash %>]" />
            <input type="image"  value="remove" src="<%= image_path('icons/cross.png') %>" name="delete_<%= value.hash %>" />
        </li>
    <% end %>
</ul>
<% if !autocomplete_url.blank? %>
<input type='text' size='50' id='<%= param_name %>-autocomplete-input' />
<span id="<%= param_name %>-indicator" style="display: none">
  <img src="/images/icons/ajax-loader.gif" alt="Working..." />
</span>
<input type="button" name="<%= param_name %>-add" id="<%= param_name %>-add" class="button" value="add" />
<div id='<%= param_name %>-autocomplete-values' class="autocomplete"></div>

<script>
    new Ajax.Autocompleter("<%= param_name %>-autocomplete-input", "<%= param_name %>-autocomplete-values", "<%= autocomplete_url %>", {
      paramName: "value",
      indicator: "<%= param_name %>-indicator",
      afterUpdateElement : <%= param_name %>updateCompleter
    });
    var current<%= param_name.capitalize %> = {};
    function <%= param_name %>updateCompleter(text, li) {
        current<%= param_name.capitalize %>['content'] = li.innerHTML;
        current<%= param_name.capitalize %>['val'] = text.value;
    }
    
    <%= param_name %>_button = $('<%= param_name %>-add')
    <%= param_name %>_button.observe('click', <%= param_name %>Selected);
    $('<%= param_name %>-list').observe('click', delete<%= param_name.capitalize %>Item)

    function <%= param_name %>Selected(event) {
    	option = {}
    	option.text = current<%= param_name.capitalize %>['content']
    	option.value = current<%= param_name.capitalize %>['val']
    	add<%= param_name.capitalize %>Item(option);
    }
<% else %>
<select name="<%= param_name %>-selector" id="<%= param_name %>-selector">
    <%= options_for_select(options) %>
</select>
<input type="button" name="<%= param_name %>-add" class="button" id="<%= param_name %>-add" value="add" />
<script type="text/javascript">
<%= param_name %>_selector = $('<%= param_name %>-selector')
<%= param_name %>_button = $('<%= param_name %>-add')
<%= param_name %>_button.observe('click', <%= param_name %>Selected);
$('<%= param_name %>-list').observe('click', delete<%= param_name.capitalize %>Item)

function <%= param_name %>Selected(event) {
	option = <%= param_name %>_selector.options[<%= param_name %>_selector.selectedIndex];
	add<%= param_name.capitalize %>Item(option);
}
<% end %>

// Common script functions
function add<%= param_name.capitalize %>Item(option) {
	var rand = Math.floor(Math.random()*9999);
	var markup = "<li>"+option.text+"<input type='hidden' name='<%= main_name %>[<%= param_name %>][new_"+rand+"]' value='"+option.value+"' /><input type='image' value='remove' onClick='delete<%= param_name.capitalize %>Item();' src='<%= image_path('icons/cross.png') %>' /></li>";
	$('<%= param_name %>-list').insert({bottom: markup});

}

function delete<%= param_name.capitalize %>Item(event) {
    if(event.element().type == 'image') {
        event.element().up().remove();
    }
}
</script>