<%
    # Parameters to pass in: 
    # main_name: name of the model (eg: BibliographyItem)
    # param_name: name of the field (eg: author)
    # existing: hash of already existing items of this kind, to add right away
    # options: options array to show (if nil no type will be displayed)
    
    populate_ul_id = param_name+"_list"
    add_button_id = param_name+"_add"

%>

<ul id="<%= populate_ul_id %>"></ul>

    <% if (with_name) %>
        <%= I18n.t('general.note_name') %>: <input type='text' id='note_name'>
        <br /><br />
    <% end %>    

    <% if (with_zone_image) %>
        <%= I18n.t('general.note_image_zone') %>: <br />
        <%= select_tag "#{ImageZone}[note_image_zone]", options_for_select(image_zone_select_uri), {:id => '', :class => 'image_zone_url'} %>
        <br /><br />
    <% end %>

    <%= I18n.t('general.note_content') %>:
        <textarea rows='4' cols='50' id='note_content'></textarea>
        <br />

    <input type='button' class='button' value="<%= I18n.t('general.add') %>" name='<%= add_button_id %>' id='<%= add_button_id %>' />

<script>

function add_note(id, field_name, uri, name, content, image_zone) {
    var rand_id = "id_"+Math.floor(Math.random()*99999),
        markup = "";
        
    markup += "<li id='"+rand_id+"'>";
    <% if (with_name) %>
        markup += "<input type='text' name='"+field_name+"[name]' value='"+name+"'>";
    <% end %>
    markup += "<textarea rows='4' name='"+field_name+"[content]'>"+content+"</textarea>";
    markup += "<input type='hidden' name='"+field_name+"[uri]' value='"+uri+"'>";
    
    var rem = 'remove_group("'+rand_id+'")';
    markup += "<span class='remove_button' onClick='"+rem+"'>X</span>"
    markup += "</li>";

    $(id).insert({bottom: markup});

    // If there's an image_zone, clone the select item and set select's name
    <% if (with_zone_image) %>
        var foo = $$('.image_zone_url')[0].cloneNode(true);
        $(rand_id).insert({top: foo});
        $$('.image_zone_url')[0].writeAttribute("name", "<%= "#{main_name}[#{param_name}][]" %>[image_zone]");
    <% end %>
}

(function() {
    var param_name = "<%= param_name %>",
        add_button_id = "<%= add_button_id %>",
        populate_ul_id = "<%= populate_ul_id %>",
        main_name = "<%= main_name %>";
    
    // Load all existing data as soon as the window is ready
    Event.observe(window, 'load', function() {
        <% 
            existing.each do |name, uri, content, image_zone|
            image_zone = (image_zone.nil?) ? "" : image_zone.uri.to_s
        %>
            add_note(populate_ul_id, "<%= "#{main_name}[#{param_name}][]" %>", "<%= uri %>", "<%= name %>", "<%= content %>", "<%= image_zone %>");
    
            // If there's an image zone, select the right option and remove the class name
            <% if (with_zone_image) %>
                for (var i = $$('.image_zone_url')[0].length - 1; i >= 0; i--)
                    if ($$('.image_zone_url')[0][i].value == "<%= image_zone %>") 
                        $$('.image_zone_url')[0].selectedIndex = i;
                $$('.image_zone_url')[0].removeClassName('image_zone_url');
            <% end %>

        <% end %>
    });
    
    // Click on add button: populate our list with the selected item
    $(add_button_id).observe('click', function() {

        var image_zone, name;
        <% if (with_zone_image) %>
            image_zone = $$('.image_zone_url')[0][$$('.image_zone_url')[0].selectedIndex].value;
        <% end %>
        <% if (with_name) %>
            name = $('note_name').value;
        <% end %>
        
        add_note(populate_ul_id, 
                "<%= "#{main_name}[#{param_name}][]" %>", 
                'new_'+Math.floor(Math.random()*9999),
                name,
                $('note_content').value,
                image_zone);

        <% if (with_zone_image) %>
            // If there's an image zone, select the right option and remove the class name
            // .image_zone_url[0] is still the select we just added, select the right option, set the name, remove the class
            $$('.image_zone_url')[0].selectedIndex = $$('.image_zone_url')[1].selectedIndex;
            $$('.image_zone_url')[0].removeClassName('image_zone_url');
        <% end %>
        return;
    });
    
})();

</script>