<% js_prefix = local_assigns[:js_prefix] || 'jsapi'%>
<div class="imt-viewer">
  <object class="IMTViewer" 
          classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
          id="<%= id %>" 
          width="90%" 
          height="90%"
          b64="<%= base64 %>"
          codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
    <param name="movie" value="<%= image_path("ImageMapperViewer.swf?js_prefix=#{js_prefix}_") %>" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="allowScriptAccess" value="always" />
    <embed src="<%= image_path("ImageMapperViewer.swf?js_prefix=#{js_prefix}_&oid=#{id}")%>"
           quality="high"
           bgcolor="#ffffff"
           width="90%"
           height="90%"
           name="<%= id %>"
           align="middle"
           play="true"
           loop="false"
           allowscriptaccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.adobe.com/go/getflashplayer" 
           b64="<%= base64 %>"></embed>
  </object>
</div>
