<div class='widget'>

  <%= render :partial => 'widget_header', :locals => {:title => 'Immagine'} %>
  <%= render :partial => 'image_viewer_widget', :locals => {:image => @image, :id => @id} %>

</div>


<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Scheda'} %>
  <div class='widgetContent expanded metadata'>
    <p> 
      <b>SegnaturaL</b> <%= @source.signature %> <br/>
      <b>Collocazione:</b> <%= @source.collocation %><br/>
      <b>Tecnica e misure:</b> <%= @source.tecnique %>, <%= @source.measure %><br/>
      <b>Posizione:</b> <%= @source.position%><br/>
      <b>Note Descrittive:</b> <%= @source.descriptive_notes %><br/>

<!--

#TODO: anno, autore, editore, luogo di edizione 
-->
    </p>
   
  </div>  
</div>


<div class='widget'>
  <%= render :partial => 'widget_header', :locals => {:title => 'Studio'} %>
  <div class='widgetContent expanded metadata'>
    <p> 
      <b>Descrizione:</b> <%= @source.description %> <br/>

<!--
#TODO: parole chiave e link nella descrizione ^^^^^^^
-->
      <% unless (iconclass = @source.iconclass_terms).empty? %>
        <b>Iconclass:</b> <% iconclass.each do |c| %> <%= c.name %> <% end %>

	<% unless @source.child_cards.empty? %>
	   <% @source.child_cards.each do |c| %>
	     <% c.iconclass.each do |ic| %> <%= ic.name %> <% end %>
	   <% end %>
  	<% end %>

	<br/>

      <% end %>
      <b>Note di studio:</b> <%= @source.study_notes %> <br/>
      <b>Motto:</b> <%= @source.motto %> <br/>
      <b>Possessore dell'impresa:</b> <%= @source.owner %> <br/>


      
      <% unless (fonti = @source.related_source_in).empty? %>
        <b>Fonti dell'immagine:</b> 				   
	<% fonti.each do |f| %> 
          <a class='resource' href='/boxView?method=getSource&resource=<%=Base64.encode64s(f.uri.to_s)%>&type=<%=f.class%>'><%=f.name%></a>
        <% end %>
	<br/>
      <% end %>

      
      <% unless (usi = @source.related_source_out).empty? %>
        <b>Usi successivi:</b> <% usi.each do |u| %> 
          <a class='resource' href='/boxView?method=getSource&resource=<%=Base64.encode64s(u.uri.to_s)%>&type=<%=u.class%>'><%=u.name%></a>
	      <% end %>
	<br/>
      <% end %>




      <b>Significato originale:</b> <%= @source.original_meaning %> <br/>
      <b>Significato contestuale:</b> <%= @source.contextual_meaning %> <br/>

    </p>
   
  </div>  
</div>
