<div class='widget'>

<div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'>Immagine</h3>
    <div class='widgetHeaderTools'>
    <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>



<% unless @next_page.nil? %>
    <p class="next">
    <a class="inBoxNavigation next" href="foo?method=getSource&resource=<%=Base64.encode64s(@next_page.uri.to_s)%>" title="">
    Next
    </a>
    </p>	

<% end %>

<% unless @prev_page.nil? %>
    <p class="previous">
    <a class="inBoxNavigation prev" href="foo?method=getSource&resource=<%=Base64.encode64s(@prev_page.uri.to_s)%>" title="">
    Previous
    </a>
    </p>
<% end %>



    </div>
</div>

<%= render :partial => 'image_viewer_widget', :locals => {:image => @image, :id => @id} %>
<%= render :partial => 'widget_header', :locals => {:title => 'Trascrizione Critica'} %>

  <div class='widgetContent expanded metadata'>

  <%= @transcription_html %>

  </div>

</div>