<h3>Crea un nuovo bookmark</h3>
<div class='newbm_form'>
    <ul>
        <input type='hidden' class='bm_qstring' value='<%= bm[:qstring] %>'>
        <li>Tipo <%= bm[:resourceTypeString] %> <%= bm[:resourceType] %></li>
        <li>Data <%= Time.now.strftime("%x %X") %></li>

        <% if (my_notebooks_select.empty?) %>
            <li class='bm_nb_select'>Non hai nessun notebook, creane uno adesso.</li>
        <% else %>
        <li class='bm_nb_select'>Nel notebook <%= select_tag 'notebook', options_for_select(my_notebooks_select), {:class => 'bm_nb_select'} %></li>
        <% end %>

        <li>
            <ul>
                <li><button class='bm_newnb_button'>Crea un nuovo notebook</button></li>
                <li class='bm_new_nb_form'>
                    <ul>
                        <li><input type='text' class='bm_newnb_title' placeholder='Nome del nuovo notebook ..'></li>
                        <li><textarea cols='40' rows='3' class='bm_newnb_note' placeholder="Nota del nuovo notebook .. "></textarea></li>
                    </ul>
                </li>
            </ul>
        <li><textarea cols='50' rows='5' class='bm_note' placeholder='La tua nota su questo box di contenuto .. '></textarea></li>
        <li><button class='bm_save_button'>Salva</button></li>
    </ul>
</div>