<div class="image-zones">
<ul id="image-zone-list">
    <%= render :partial => 'admin/image_components/component_list', :object => image_components %>
</ul>

    <% remote_form_for(new_component, :update => 'image-zone-list', :url => { :controller => 'admin/image_components', :action => :create, :id => new_component.id }) do |f| %>
        <table class="field-list">
            <tr>
                <td><%= f.label :image_zone, I18n.t('image_component.image_zone')%></td>
                <td><%= select_tag 'image_component[image_zone]', options_for_select(image_zone_select_uri) %></td>
            </tr>
            <tr>    
                <td><%= f.label :name, I18n.t('image_component.name') %></td>
                <td><%= f.text_field :name %></td>
            </tr>
            <tr>
                <td><%= f.label :zone_type, I18n.t('image_component.zone_type') %></td>
                <td><%= f.text_field :zone_type %></td>
            </tr>
        </table>    
        <%= submit_tag I18n.t('image_component.actions.create'), :class => 'button' %>
        <%= hidden_field_tag 'image_component[base_card]', current_card.to_uri.to_s %>
        </table>
    <% end %>

</div>