<%
theme = TaliaCore::CONFIG['firb']['theme'] || 'pi'
site_name = TaliaCore::CONFIG['site_name'] || 'Default site_name'
site_name_javascript = escape_javascript(site_name)
%>

<html>
  <head>
    <title>Boxview | <%= site_name %></title>
    <link href="/stylesheets/frontend-boxview/firb-common.css" media="screen" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/frontend-boxview/<%= theme %>/firb.css" media="screen" type="text/css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div style="display: none;" id="loadingDialog">
      <!-- FIXME -->
      <!-- <img src="css/images/loader/ajax_loader.gif" alt="Caricamento in corso"/> -->
      <p>Caricamento in corso</p>
    </div>  
  
    <div id="pageExt">
      <div id="pageHeader">
        <h1><%= site_name %></h1>
        <p><%= TaliaCore::CONFIG['firb']['site_subtitle'] %></p>        
        <div id="header_preferences_wrapper">
          <div id="header_preferences">
            <ul>
              <li><a id="pref_intro" title="Introduzione">Introduzione</a></li>
              <li><a id="pref_help" title="Help">Help</a></li>
              <li><a id="pref_history" title="Check your navigation history!">History</a></li>
<!--              
              <li><a id="pref_link" title="Copia il link a questa pagina">Link</a></li>
              <li><a id="pref_notebooks" title="Notebook personali">Notebooks</a></li>
              <li><a href="#" id="pref_settings" title="Modifica le tue preferenze">Preferenze</a></li>
-->
            </ul>
          </div>
        </div>
      </div>
      <div id="pageContent"></div>
    </div>
    <script src="/firb_common.js"></script>
    <%= imt_jquery_helper_functions%>
    <script src="/_boxview/src/tools.js"></script>
    <script>
        var bs = new BoxStrapper('../_boxview/', '../boxview_config.js');
        function onInitDone() {

            <%= boxview_link_code %>

            // Introduction
            $("#pref_intro").click(function(e){
                e.preventDefault();
                myBoxView.addBoxFromAjax({
                    qstring: '<%= url_for(:controller => "boxview/pagine_statiche/#{theme}_introduzione") %>',
                    title: '<%= site_name_javascript %>: Introduzione', 
                    verticalTitle: '<%= site_name_javascript %>: Introduzione',
                    resId: '<%= theme %>_intro',
                    type: 'intro',
                    collapsed: false
                });
            });

            // Help
            $("#pref_help").click(function(e){
                e.preventDefault();
                myBoxView.addBoxFromAjax({
                    qstring: '<%= url_for(:controller => "boxview/pagine_statiche/#{theme}_help") %>',
                    title: '<%= site_name_javascript %>: Help', 
                    verticalTitle: '<%= site_name_javascript %>: Help',
                    resId: '<%= theme %>_help',
                    type: 'help',
                    collapsed: false
                });
            });

            // Add the menu automatically
            myBoxView.addBoxFromAjax({
                qstring: '<%= url_for(:controller => "boxview/indici/#{theme}") %>',
                title: '<%= site_name_javascript %>: Menu', 
                verticalTitle: '<%= site_name_javascript %>: Menu',
                resId: '<%= theme %>_index',
                type: 'menu',
                collapsed: false
            });

            // Add all the common listeners
            init_firb_common();
			
			myBoxView.onCollapseAddCallBack(function() { reposition_all_notes() });
			myBoxView.onExpandAddCallBack(function() { reposition_all_notes() });
			myBoxView.onRemoveAddCallBack(function() { reposition_all_notes() })
			myBoxView.onAddAddCallBack(function() { reposition_all_notes() });

        } // onInitDone()

    </script>
  </body>
</html>
